.editable-header,
.editable-atributes {
    font-size: 12pt;
}

.editable-header {
    text-align: center;
    background: #fff;
    padding: 2px 15px 2px 15px;
    /*remove*/
    /* border: 1px solid #000;
    border-bottom: 0px */
}

.content-divider {
    max-height: 1px;
    /* width: 100%; */
    background: black;
    margin: 0;
    padding: 0;
}

.editable-border {
    background: #000;
    padding: 2px 2px;
}

.srd-node--selected .editable-border {
    background: #00c0ff;
}